/**GENERAL**/
* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

p {
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}

input, button {
    outline: none;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}



/**HEADER FACEME**/   
.headerFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerFond {
    padding: 1.2rem 0rem 1.2rem 0rem;
    background-color: #FF9900;
}

.headerLogo img {
    height: 4rem;
}

.headerSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.6rem 1rem 0.6rem 1rem;
}

.headerSearch img {
    height: 22px;
    margin-right: 1rem;
}

#headerSearch__input {
    border: none;
    font-size: 16pt;
    font-weight: 300;
}

#headerSearch__input::placeholder {
    color: #808080;
}

.headerButton {
    display: flex;
    align-items: center;
}

.headerUser {
    position: relative;
    padding-right: 2.4rem;
}

.headerUser__button, .headerNotif__button  {
    border: none;
    background-color: transparent;
}

.headerUser img, .headerNotif img {
    height: 48px;
}


#headerHover__menu {
    position: absolute;
    width: 8rem;
    line-height: 1.8rem;
    background-color: #ffffff;  
    display: none;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}


/**PAGE CONNEXION**/
#page_connexion {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

#page__title {
    color: #FF9900;
    font-size: 136pt;
    font-weight: 900;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    line-height: 0;
    text-decoration: underline;
    animation: onload_title 1s;
}

@keyframes onload_title {
    from {
        transform: translate(750px) rotate(180deg);
    }

    to {
        transform: translate(0px) rotate(180deg);
    }
}

#formCo__fond {
    background-color: #FFFFFF;
    height: 42.6rem;
    width: 28rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    animation: onload_form 3s;
}

@keyframes onload_form {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#signIn__title {
    color: #FF9900;
    font-size: 26pt;
    font-weight: 700;
    padding: 0.4rem 0rem 0.4rem 1rem ;
}

#signIn__fond {
    background-color: #FF9900;
    height: 35rem;
    width: 28rem;
    border-radius: 10px;
}

#signIn__main {
    display: flex;
    flex-direction: column;
}

.signIn__input {
    border: none;
    border-radius: 10px;
    width: 25rem;
    margin: 2rem 0rem 0rem 1rem;
    padding: 1.5rem 0rem 1.5rem 1rem;
    background-color: #ebe8e8;
}

.form__submit {
    border: none;
    border-radius: 10px;
    width: 26rem;
    margin: 2rem 0rem 0rem 1rem;
    padding: 1.5rem 0rem 1.5rem 1rem;
    color: #FF9900;
    background-color: #ffffff;
    font-size: 14pt;
    font-weight: 700;
    transition: 0.4s;
}

.form__submit:hover {
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
}

#form__separation {
    width: 26rem;
    height: 0.2rem;
    background-color: #FFFFFF;
    margin: 3rem 0rem 3rem 1rem;    
}

#signUp__title {
    color: #FFFFFF;
    font-size: 20pt;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 0rem 0rem 3rem 1rem;
}

#signIn__submit {
    padding: 1.5rem 8rem 1.5rem 8rem;
}

#formIn__fond {
    background-color: #FFFFFF;
    height: 44rem;
    width: 28rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    animation: onload_form 3s;
}

#formIn__title {
    color: #FF9900;
    font-size: 26pt;
    font-weight: 700;
    padding: 0.4rem 0rem 0.4rem 1rem ;
}

#signUp__fond {
    background-color: #FF9900;
    height: 39rem;
    width: 28rem;
    border-radius: 10px;
}

.signUp__input {
    border: none;
    border-radius: 10px;
    width: 25rem;
    margin: 2rem 0rem 0rem 1rem;
    padding: 1.5rem 0rem 1.5rem 1rem;
    background-color: #ebe8e8;
}


/**PAGE INDEX**/
.publication {
    background-color: #EEEEEE;
    border-radius: 10px;
    margin: 1rem 0rem 3rem 0rem;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

.publication__title {
    color: #FF9900;

}

.publication_input {
    border: none;
    border-radius: 10px;
    padding: 0.6rem 1rem 0.6rem 1rem;
    background-color: #ffffff;
    width: 96.5%;
}

.post_complet {
    background-color: #EEEEEE;
    border-radius: 10px;
    margin: 1rem 0rem 3rem 0rem;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

.post_completpadding {
    padding: 1rem 1rem 1rem 1rem;
}

.post_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.post_userId {
    display: flex;
    align-items: center;
}

.post_userId img {
    height: 40px;
    margin-right: 1rem;
    transition: 0.4s ease-in-out;
}

.post_userId h1{
    color: #FF9900;
    font-weight: 700;
}

.post_userBin img {
    height: 32px;
}

.post_contenu {
    background-color: #ffffff;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 10px;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

.postComment {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post_separation {
    border: 1px solid #FF9900;
}

.post_likes {
    display: flex;
    align-items: center;
}

.post_likesIcons {
    height: 32px;
}

.likes_count {
    margin-left: 0.6rem;
    font-size: 14pt;
    font-weight: 300;
}

.post_comment {
    border: 0px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.post_comment img {
    height: 32px;
}

.separation_grise {
    margin: 2rem 0rem 0rem 0rem;
    border: 1px solid #707070;
}

.post_commentaires > h1 {
    font-size: 16pt;
    font-weight: 400;
    color: #707070;
}

.post_commentairesForm > label {
    font-size: 16pt;
    font-weight: 500;
    color: #FF9900;
    padding: 0rem 0rem 1rem 0rem;
}

.post_commentairesForm {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

.post_commentairesInput {
    border: none;
    border-radius: 10px;
    padding: 0.6rem 1rem 0.6rem 1rem;
    background-color: #EEEEEE;
}

.post_commentairesFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_commentairesIcon {
    border: none;
    background-color: transparent;
}

.post_commentairesIcon > img {
    height: 40px;
}

.separation_orange {
    margin: 1rem 0rem 1rem 0rem;
    border: 1px solid #FF9900;
}

.vueCommentaires__flex {
    display: flex;
    align-items: center;
}

.vueCommentaires__title {
    color: #FF9900;
    font-size: 18pt;
    font-weight: 500;
}

.vueCommentaires__text {
    padding: 0rem 0rem 0rem 0.5rem;
    color: #707070;
}

.topArea {
    background-color: #ebe8e8;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1rem;
    margin: 2rem 0rem 2rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topArea__text {
    color: #707070;
    font-size: 16pt;
}

.topArea__button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}

.topArea__button img {
    height: 60px;
}

.topArea__button:hover {
    transform: translateY(-6px);
}


/**PAGE 404**/
#errorFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardFond {
    background-color: #FF9900;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    color: #ffffff;
    border-radius: 20px;
    position: relative;
    height: 35rem;
    width: 55rem;
    margin: 2rem 0rem 4rem 0rem;
}

#cardFond__404 {
    position: absolute;
    font-size: 250pt;
    font-weight: 600;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    top: -7px; 
    right: 225px;

}

#cardFond__texte {
    position: absolute;
    font-size: 22pt;
    font-weight: 400;
    top: 395px;
    left: 285px;
}

#cardButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #FF9900;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16pt;
    font-weight: 500;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#cardButton:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

#cardButton img {
    height: 42px;
    padding-left: 1.6rem;
}

.search_main{
    position: relative;
    overflow: visible;
}

#results{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    max-height: 300px;
}