/**GENERAL**/
* {
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

p {
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}

input, button {
    outline: none;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.hide{
    display: none;
}


/**HEADER FACEME**/   
.headerFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerFond {
    padding: 1.2rem 0rem 1.2rem 0rem;
    background-color: #FF9900;
}

.headerLogo img {
    height: 4rem;
}

.headerSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.6rem 1rem 0.6rem 1rem;
}

.headerSearch img {
    height: 22px;
    margin-right: 1rem;
}

#headerSearch__input {
    border: none;
    font-size: 16pt;
    font-weight: 300;
}

#headerSearch__input::placeholder {
    color: #808080;
}

.headerButton {
    display: flex;
    align-items: center;
}

.headerUser, .headerNotif {
    position: relative;
    padding-left: 2rem;
}

.headerUser__button, .headerNotif__button  {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.headerUser img {
    border-radius: 50%;
    width: 48px;
}

.headerUser img, .headerNotif img {
    height: 48px;
}

.headerNotif__button {
    transition: 0.2s ease-in-out;
}

.headerNotif__button:hover {
    transform: rotate(15deg);
}

#headerHover__menu {
    position: absolute;
    z-index: 999;
    width: 8rem;
    line-height: 1.8rem;
    background-color: #ffffff;  
    border-radius: 10px;
    display: none;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

#headerHover__menuName {
    font-size: 18pt;
    font-weight: 500;
    color: #FF9900;
}

#headerHover__menuSeparation {
    border: 1px solid #808080;
}

.headerHover__menuLink a {
    text-decoration: none;
    color: #808080;
    font-size: 12pt;
}

.headerHover__menuLink {
    transition: 0.2s ease-in-out;
}

.headerHover__menuLink:hover {
    transform: translateX(8px);
    font-weight: 700;
}

#headerHover__notif {
    position: absolute;
    background-color: #ffffff;  
    display: none;
    border-radius: 10px;
    width: 14rem;
    padding: 0.2rem 1.2rem 0.2rem 0.2rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

#headerHover__notifMain {
    color: #808080;
    font-size: 12pt;
}

#headerHover__notifTitle {
    color: #FF9900;
    font-size: 18pt;
    font-weight: 500;
}

#headerHover__notifSeparation {
    border: 1px solid #808080;
    width: 10rem;
    float: left;
}


/**PAGE CONNEXION**/
#page_connexion {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}

#page__title {
    color: #FF9900;
    font-size: 136pt;
    font-weight: 900;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    line-height: 0;
    text-decoration: underline;
    animation: onload_title 1s;
}

@keyframes onload_title {
    from {
        transform: translate(750px) rotate(180deg);
    }

    to {
        transform: translate(0px) rotate(180deg);
    }
}

#formCo__fond {
    background-color: #FFFFFF;
    height: 41.5rem;
    width: 28rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    animation: onload_form 3s;
}

@keyframes onload_form {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#signIn__title {
    color: #FF9900;
    font-size: 26pt;
    font-weight: 700;
    padding: 2rem 0rem 2rem 1rem ;
}

#signIn__fond {
    background-color: #FF9900;
    height: 35rem;
    width: 28rem;
    border-radius: 10px;
}

#signIn__main {
    display: flex;
    flex-direction: column;
}

.signIn__input {
    border: none;
    border-radius: 10px;
    width: 25rem;
    margin: 2rem 0rem 0rem 1rem;
    padding: 1.5rem 0rem 1.5rem 1rem;
    background-color: #ebe8e8;
}

.form__submit {
    border: none;
    border-radius: 10px;
    width: 26rem;
    margin: 2rem 0rem 0rem 1rem;
    padding: 1.5rem 0rem 1.5rem 1rem;
    color: #FF9900;
    background-color: #ffffff;
    font-size: 14pt;
    font-weight: 700;
    transition: 0.4s;
}

.form__submit:hover {
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
}

#form__separation {
    width: 26rem;
    height: 0.2rem;
    background-color: #FFFFFF;
    margin: 3rem 0rem 3rem 1rem;    
}

#signUp__title {
    color: #FFFFFF;
    font-size: 20pt;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 0rem 0rem 3rem 1rem;
}

#signIn__submit {
    padding: 1.5rem 8.5rem 1.5rem 8.5rem;
}

#formIn__fond {
    background-color: #FFFFFF;
    height: 41.5rem;
    width: 28rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.6);
    animation: onload_form 3s;
}

#formIn__title {
    color: #FF9900;
    font-size: 26pt;
    font-weight: 700;
    padding: 2rem 0rem 2rem 1rem ;
}

#signUp__fond {
    background-color: #FF9900;
    height: 35rem;
    width: 28rem;
    border-radius: 10px;
}

.signUp__input {
    border: none;
    border-radius: 10px;
    width: 25rem;
    margin: 2rem 0rem 0rem 1rem;
    padding: 1.5rem 0rem 1.5rem 1rem;
    background-color: #ebe8e8;
}


/**PAGE INDEX**/
.publication {
    background-color: #EEEEEE;
    border-radius: 10px;
    margin: 1rem 0rem 3rem 0rem;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

.publication__title {
    color: #FF9900;

}

.publication_input {
    border: none;
    border-radius: 10px;
    padding: 0.6rem 1rem 0.6rem 1rem;
    background-color: #ffffff;
    width: 96.5%;
}

.post_complet {
    background-color: #EEEEEE;
    border-radius: 10px;
    margin: 1rem 0rem 3rem 0rem;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

.post_completpadding {
    padding: 1rem 1rem 1rem 1rem;
}

.post_user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.post_userId {
    display: flex;
    align-items: center;
}

.post_userIdName {
    font-size: 22pt;
    font-weight: 600;
    color: #FF9900;
}

.post_userIdName a {
    color: #FF9900;
    padding-right: 0.8rem;
}


.post_userId img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 1rem;
    transition: 0.4s ease-in-out;
}

.post_userBin img {
    height: 32px;
}

.post_contenu {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

.post_contenuHour p {
    color: #a3a3a3;
    font-size: 12pt;
}

.post_contenuText {
    color: #474747;
    font-size: 16pt;
}

.post_contenuImg {
    display: flex;
    justify-content: center;
    max-width: 830px;
    max-height: 450px;
    margin: 0 auto;
}

.post_contenuImg img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.post_contenu p {
    padding: 1rem 0rem 1rem 0rem;
}

.postComment {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.post_separation {
    border: 1px solid #FF9900;
}

.post_likes {
    display: flex;
    align-items: center;
}

.post_likesIcons {
    height: 32px;
}

.likes_count {
    margin-left: 0.6rem;
    font-size: 14pt;
    font-weight: 300;
}

.post_comment {
    border: 0px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.post_comment img {
    height: 32px;
}

.separation_grise {
    margin: 2rem 0rem 0rem 0rem;
    border: 1px solid #707070;
}

.post_commentaires > h1 {
    font-size: 16pt;
    font-weight: 400;
    color: #707070;
}

.post_commentairesForm {
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

.post_commentairesAvatarFlex {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.post_commentairesAvatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.post_commentairesAvatarFlex>label {
    font-size: 16pt;
    font-weight: 500;
    color: #FF9900;
    padding-left: 0.8rem;
}

.post_commentairesInput {
    border: none;
    border-radius: 10px;
    padding: 0.6rem 1rem 0.6rem 1rem;
    background-color: #EEEEEE;
}

.post_commentairesFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post_commentairesIcon {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.post_envoyerSpecial {
    transition: 0.2s ease-in-out;
}

.post_envoyerSpecial:hover {
    transform: translate(6px, -5px);
}

.post_commentairesIcon > img {
    height: 40px;
}

.separation_orange {
    margin: 1rem 0rem 1rem 0rem;
    border: 1px solid #FF9900;
}

.vueCommentaires {
    background-color: #ffffff;
    padding: 0rem 1rem 1rem 1rem;
    border-radius: 10px;
    margin: 1rem 0rem 1rem 0rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

.vueCommentaires__flex {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.vueCommentaires__flexText {
    display: flex;
    align-items: center;
    color: #a3a3a3;
    font-size: 12pt;
}

.vueCommentaires__flexText p {
    padding-right: 0.5rem;
}

.vueCommentaires__content {
    color:#474747;
    font-size: 16pt;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.vueCommentaires__contentImg {
    display: flex;
    justify-content: center;
    max-width: 830px;
    max-height: 450px;
    margin: 0 auto;
}

.vueCommentaires__contentImg img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.topArea {
    background-color: #ebe8e8;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    border-radius: 10px;
    padding: 1rem 1rem 1rem 1rem;
    margin: 2rem 0rem 2rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topArea__text {
    color: #707070;
    font-size: 16pt;
}

.topArea__button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition: 0.2s ease-in-out;
}

.topArea__button img {
    height: 60px;
}

.topArea__button:hover {
    transform: translateY(-6px);
}

/**PAGE PROFILE**/
.profileHeader {
    color: #808080;
    font-size: 22pt;
    font-weight: 400;
    padding: 1rem 0rem 1rem 0rem;
}

.profileAside__main {
    background-color: #ebe8e8;
    border-radius: 10px;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

.profileAside__mainPadding {
    padding: 1rem;
}

.profileAside__bioTitle {
    color: #FF9900;
    font-size: 22pt;
    font-weight: 500;
    padding-bottom: 0.2rem;
    margin: 0rem;
}

.profileAside__bioText {
    color: #808080;
    font-size: 14pt;
}

.profileAside__bioSeparation {
    border: 1px solid #808080;
    margin-top: 1rem;
    margin-bottom: 1rem;    
}

.profileAside__bioFriends a, .profileAside__bioPhotos a {
    color: #808080;
    font-size: 14pt;
    transition: 0.1s ease-in-out;
}

.profileAside__bioFriends a:hover, .profileAside__bioPhotos a:hover {
    font-weight: 700;
}

.profileAside__photosSettings {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    margin-top: 0.5rem;
}

.profileAside__photosSettings img {
    width: 145px;
    height: 145px;
    border-radius: 10px;
    object-fit: cover;
}


/**AJOUT D'AMIS**/
.requestTime {
    color: #FF9900;
    font-size: 22pt;
    font-weight: 400;
}

.requestBtn__main {
    margin-top: 4rem;
}

.requestBtn {
    color: #ffffff;
    background-color: #FF9900;
    padding: 0.4rem 1.2rem 0.4rem 1.2rem;
    border-radius: 5px;
    font-size: 20pt;
}

.requestText {
    color: #808080;
    font-size: 22pt;
    font-weight: 400;
    padding: 2rem 0rem 1rem 0rem;
}



/**PAGE 404**/
#errorFlex {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cardFond {
    background-color: #FF9900;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    color: #ffffff;
    border-radius: 20px;
    position: relative;
    height: 35rem;
    width: 55rem;
    margin: 2rem 0rem 4rem 0rem;
}

#cardFond__404 {
    position: absolute;
    font-size: 250pt;
    font-weight: 600;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    top: -7px; 
    right: 560px;

}

#cardFond__texte {
    position: absolute;
    font-size: 22pt;
    font-weight: 400;
    top: 425px;
    left: 270px;
}

#cardButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #FF9900;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16pt;
    font-weight: 500;
    padding: 0.4rem 1.4rem 0.4rem 1.4rem;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

#cardButton:hover {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

#cardButton img {
    height: 42px;
    padding-left: 1.6rem;
}


/**RECHERCHE**/
.search_main{
    position: relative;
    overflow: visible;
}

#results{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    max-height: 300px;
    background-color: #ffffff;
}

#results_search {
    list-style-type: none;
    color: #474747;
}


/**PAGE SETTINGS**/
.settingsTitle {
    color: #808080;
    font-size: 18pt;
    font-weight: 400;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
}

.settingsCard {
    border-radius: 10px;
    background-color: #EEEEEE;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    padding: 1rem 1rem 1rem 1rem;
}

.settings__input {
    background-color: #ffffff;
    border: none;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;
    border-radius: 10px;
    width: 24rem;
}

.settingsCard__flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.settingsCard__flexSubmit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settings__submit {
    border: none;
    background-color: #FF9900; 
    font-weight: 500;
    border-radius: 10px;
    color: #ffffff;
    transition: 0.4s ease-in-out;
    padding: 0.8rem 1.6rem 0.8rem 1.6rem;    
}

.settings__submit:hover {
    box-shadow: 0px 0px 8px 4px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 0px 8px 4px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 0px 8px 4px rgba(119, 119, 119, 0.6);
}


/**PAGE DES PHOTOS**/
.postPhotos__main {
    border-radius: 10px;
    background-color: #EEEEEE;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

.postPhotos__padding {
    padding: 0.4rem 1rem 0.4rem 1rem; 
    display: flex;
    justify-content: space-between;
}

.postPhotos__title {
    font-size: 20pt;
    color: #FF9900;
    font-weight: 400;
}

.postPhotos__btnFlex {
    display: flex;
    align-items: center;
}

.postPhotos__btnFlex button {
    padding-left: 2rem;
}

.photosDisplay__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.6rem;
    margin-bottom: 2.6rem;
    border-radius: 10px;
    background-color: #EEEEEE;
    box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -moz-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
    -webkit-box-shadow: 0px 4px 6px 3px rgba(119, 119, 119, 0.6);
}

.photosDisplay__img {
    padding: 1rem 1rem 1rem 1rem; 
}

.photosDisplay__img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


/**RESPONSIVE**/
/**Mobile S (320px)**/
@media (min-width: 320px) and (max-width: 374px) {
    /**Header**/
    .headerLogo img {
        height: 48px;
    }

    .headerSearch img {
        height: 12px;
    }

    .headerSearch {
        margin-left: 0.4rem;
        padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    }

    #headerSearch__input {
        font-size: 11pt;
        width: 80px;
    }

    .headerUser__button img {
        border-radius: 50%;
        width: 28px;
        object-fit: cover;
    }

    .headerUser__button img, .headerNotif__button img {
        height: 28px;
    }

    .headerUser, .headerNotif {
        padding: 0rem;
    }

    #headerHover__menu {
        top: 38px;
        left: -58px;
        line-height: 1rem;
        width: 100px;
    }

    #headerHover__menuName {
        font-size: 12pt;
    }

    .headerHover__menuLink a { 
        font-size: 9pt;
    }

    #headerHover__notif {
        top: 38px;
        left: -94px;
        width: 8rem;
        padding: 0rem;
    }

    #headerHover__notifMain {
        padding-left: 1rem;
    }

    #headerHover__notifTitle {
        font-size: 12pt;
    }

    #headerHover__notifSeparation {
        width: 6rem;
    }

    #headerHover__notifRien {
        font-size: 9pt;
    }

    /**Principal**/
    .headerFlex, .publication, .post_complet, .topArea, .profileAside__main {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    /**Formulaire de publication**/
    .publication__title {
        font-size: 16pt;
    }

    .publication_input {
        width: 230px;
    }

    .post_commentairesIcon img {
        height: 30px;
    }

    /**Affichage des pulications**/
    .post_complet {
        padding-top: 0.4rem;
        padding-bottom: 0.8rem;
    }

    .post_completpadding {
        padding: 0rem;
    }

    .post_contenu {
        padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    }

    .post_user {
        margin-bottom: 0.4rem;
    }

    .post_userIdName {
        font-size: 12pt;
    }

    .post_userIdName>a {
        padding-right: 0.2rem;
    }

    .post_userId img {
        height: 28px;
        width: 28px;
    }

    #post_userBin {
        height: 28px;
    }

    .post_contenuHour p {
        font-size: 9pt;
    }

    .post_contenuText {
        font-size: 11pt;
    }

    .postComment {
        justify-content: space-between;
    }

    .post_likes img, .post_comment img {
        height: 22px;
    }

    .likes_count {
        font-size: 9pt;
    }

    /**Partie commentaires**/
    .post_commentairesAvatar {
        height: 28px;
        width: 28px;
    }

    .post_commentaires h1 {
        font-size: 12pt;
    }

    .post_commentairesIcon img {
        height: 28px;
    }

    .vueCommentaires__flexText {
        font-size: 7pt;
    }

    .vueCommentaires__flexText p {
        padding-right: 0.2rem;
    }

    .vueCommentaires__content {
        font-size: 11pt;
    }

    /**Top area**/
    .topArea__text {
        font-size: 12pt;
    }

    .topArea__button img {
        height: 34px;
    }

    /**PAGE PROFIL**/
    .profileHeader {
        font-size: 14pt;
        margin-left: 0.6rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    .profileAside__bioTitle {
        font-size: 14pt;
        padding-top: 0.4rem;
    }

    .profileAside__bioText {
        font-size: 11pt;
    }

    .profileAside__bioFriends a, .profileAside__bioPhotos a {
        font-size: 11pt;
    }

    .profileAside__photosSettings {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 0.2rem;
    }
    
    .profileAside__photosSettings img {
        width: 80px;
        height: 80px;
    }

    /**PAGE SETTINGS**/
    .settingsTitle {
        font-size: 14pt;
        margin-left: 0.5rem;
    }

    .settingsCard {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .settings__input {
        width: 80%;
        margin-bottom: 0.6rem;
    }

    .settingsCard__flexSubmit {
        display: flex;
        flex-direction: column;
    }

    .settings__inputsFile {
        margin-left: 0.8rem;
        margin-bottom: 1rem;
    }

    .settings__submitSpecial {
        width: 100%;
    }

    /**PAGE PHOTOS**/
    .postPhotos__main, .photosDisplay__main {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .profileHeader {
        padding-bottom: 0.5rem;
    }

    .photosDisplay__main {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }

    .postPhotos__title {
        font-size: 12pt;
    }
}
 

/**Mobile M (375px)**/
@media (min-width: 375px) and (max-width: 424px) {
    /**Header**/
    .headerLogo img {
        height: 50px;
    }

    .headerSearch img {
        height: 12px;
    }

    .headerSearch {
        margin-left: 0.4rem;
        padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    }

    #headerSearch__input {
        font-size: 11pt;
        width: 110px;
    }

    .headerUser__button img {
        border-radius: 50%;
        width: 28px;
        object-fit: cover;
    }

    .headerUser__button img, .headerNotif__button img {
        height: 28px;
    }

    .headerUser, .headerNotif {
        padding: 0rem;
    }

    #headerHover__menu {
        top: 38px;
        left: -58px;
        line-height: 1rem;
        width: 100px;
    }

    #headerHover__menuName {
        font-size: 12pt;
    }

    .headerHover__menuLink a { 
        font-size: 9pt;
    }

    #headerHover__notif {
        top: 38px;
        left: -94px;
        width: 8rem;
        padding: 0rem;
    }

    #headerHover__notifMain {
        padding-left: 1rem;
    }

    #headerHover__notifTitle {
        font-size: 12pt;
    }

    #headerHover__notifSeparation {
        width: 6rem;
    }

    #headerHover__notifRien {
        font-size: 9pt;
    }

    /**Principal**/
    .headerFlex, .publication, .post_complet, .topArea, .profileAside__main {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    /**Formulaire de publication**/
    .publication__title {
        font-size: 16pt;
    }

    .publication_input {
        width: 285px;
    }

    .post_commentairesIcon img {
        height: 30px;
    }

    /**Affichage des pulications**/
    .post_complet {
        padding-top: 0.4rem;
        padding-bottom: 0.8rem;
    }

    .post_completpadding {
        padding: 0rem;
    }

    .post_contenu {
        padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    }

    .post_user {
        margin-bottom: 0.4rem;
    }

    .post_userIdName {
        font-size: 12pt;
    }

    .post_userIdName>a {
        padding-right: 0.2rem;
    }

    .post_userId img {
        height: 28px;
        width: 28px;
    }

    #post_userBin {
        height: 28px;
    }

    .post_contenuHour p {
        font-size: 9pt;
    }

    .post_contenuText {
        font-size: 11pt;
    }

    .postComment {
        justify-content: space-between;
    }

    .post_likes img, .post_comment img {
        height: 22px;
    }

    .likes_count {
        font-size: 9pt;
    }

    /**Partie commentaires**/
    .post_commentairesAvatar {
        height: 30px;
        width: 30px;
    }

    .post_commentaires h1 {
        font-size: 12pt;
    }

    .post_commentairesIcon img {
        height: 28px;
    }

    .vueCommentaires__flexText {
        font-size: 9pt;
    }

    .vueCommentaires__flexText p {
        padding-right: 0.2rem;
    }

    .vueCommentaires__content {
        font-size: 11pt;
    }

    /**Top area**/
    .topArea__text {
        font-size: 12pt;
    }

    .topArea__button img {
        height: 34px;
    }

    /**PAGE PROFIL**/
    .profileHeader {
        font-size: 14pt;
        margin-left: 0.6rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    .profileAside__bioTitle {
        font-size: 14pt;
        padding-top: 0.4rem;
    }

    .profileAside__bioText {
        font-size: 11pt;
    }

    .profileAside__bioFriends a, .profileAside__bioPhotos a {
        font-size: 11pt;
    }

    .profileAside__photosSettings {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 0.3rem;
    }
    
    .profileAside__photosSettings img {
        width: 100px;
        height: 100px;
    }

    /**PAGE SETTINGS**/
    .settingsTitle {
        font-size: 14pt;
        margin-left: 0.5rem;
    }

    .settingsCard {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .settingsCard__flex {
        display: flex;
        flex-direction: column;
    }

    .settings__input {
        width: 84%;
        margin-bottom: 0.6rem;
    }

    .settingsCard__flexSubmit {
        display: flex;
        flex-direction: column;
    }

    .settings__inputsFile {
        margin-left: 0.8rem;
        margin-bottom: 1rem;
    }

    .settings__submitSpecial {
        width: 100%;
    }

    /**PAGE PHOTOS**/
    .postPhotos__main, .photosDisplay__main {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .profileHeader {
        padding-bottom: 0.5rem;
    }

    .photosDisplay__main {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }

    .postPhotos__title {
        font-size: 14pt;
    }
}
 
 
/**Mobile L (425px)**/
@media (min-width: 425px) and (max-width: 767px) {
    /**Header**/
    .headerLogo img {
        height: 52px;
    }

    .headerSearch img {
        height: 12px;
    }

    .headerSearch {
        margin-left: 0.4rem;
        padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    }

    #headerSearch__input {
        font-size: 11pt;
        width: 150px;
    }

    .headerUser__button img {
        border-radius: 50%;
        width: 28px;
        object-fit: cover;
    }

    .headerUser__button img, .headerNotif__button img {
        height: 28px;
    }

    .headerUser, .headerNotif {
        padding: 0rem;
    }

    #headerHover__menu {
        top: 38px;
        left: -58px;
        line-height: 1rem;
        width: 100px;
    }

    #headerHover__menuName {
        font-size: 12pt;
    }

    .headerHover__menuLink a { 
        font-size: 9pt;
    }

    #headerHover__notif {
        top: 38px;
        left: -94px;
        width: 8rem;
        padding: 0rem;
    }

    #headerHover__notifMain {
        padding-left: 1rem;
    }

    #headerHover__notifTitle {
        font-size: 12pt;
    }

    #headerHover__notifSeparation {
        width: 6rem;
    }

    #headerHover__notifRien {
        font-size: 9pt;
    }

    /**Principal**/
    .headerFlex, .publication, .post_complet, .topArea, .profileAside__main {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    /**Formulaire de publication**/
    .publication__title {
        font-size: 16pt;
    }

    .publication_input {
        width: 335px;
    }

    .post_commentairesIcon img {
        height: 30px;
    }

    /**Affichage des pulications**/
    .post_complet {
        padding-top: 0.4rem;
        padding-bottom: 0.8rem;
    }

    .post_completpadding {
        padding: 0rem;
    }

    .post_contenu {
        padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    }

    .post_user {
        margin-bottom: 0.4rem;
    }

    .post_userIdName {
        font-size: 14pt;
    }

    .post_userIdName>a {
        padding-right: 0.3rem;
    }

    .post_userId img {
        height: 28px;
        width: 28px;
    }

    #post_userBin {
        height: 28px;
    }

    .post_contenuHour p {
        font-size: 9pt;
    }

    .post_contenuText {
        font-size: 12pt;
    }

    .postComment {
        justify-content: space-between;
    }

    .post_likes img, .post_comment img {
        height: 28px;
    }

    .likes_count {
        font-size: 9pt;
    }

    /**Partie commentaires**/
    .post_commentairesAvatar {
        height: 32px;
        width: 32px;
    }

    .post_commentaires h1 {
        font-size: 12pt;
    }

    .post_commentairesIcon img {
        height: 28px;
    }

    .vueCommentaires__flexText {
        font-size: 7pt;
    }

    .vueCommentaires__flexText p {
        padding-right: 0.2rem;
    }

    .vueCommentaires__content {
        font-size: 12pt;
    }

    /**Top area**/
    .topArea__text {
        font-size: 12pt;
    }

    .topArea__button img {
        height: 34px;
    } 

    /**PAGE PROFIL**/
    .profileHeader {
        font-size: 14pt;
        margin-left: 0.8rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    .profileAside__bioTitle {
        font-size: 14pt;
        padding-top: 0.4rem;
    }

    .profileAside__bioText {
        font-size: 11pt;
    }

    .profileAside__bioFriends a, .profileAside__bioPhotos a {
        font-size: 11pt;
    }

    .profileAside__photosSettings {
        margin-top: 0.4rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .profileAside__photosSettings img {
        width: 110px;
        height: 110px;
    }

    /**PAGE SETTINGS**/
    .settingsTitle {
        font-size: 14pt;
        margin-left: 0.5rem;
    }

    .settingsCard {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .settingsCard__flex {
        display: flex;
        flex-direction: column;
    }

    .settings__input {
        width: 86%;
        margin-bottom: 0.6rem;
    }

    .settingsCard__flexSubmit {
        display: flex;
        flex-direction: column;
    }

    .settings__inputsFile {
        margin-left: 0.8rem;
        margin-bottom: 1rem;
    }

    .settings__submitSpecial {
        width: 100%;
    }

    /**PAGE PHOTOS**/
    .postPhotos__main, .photosDisplay__main {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .profileHeader {
        padding-bottom: 0.5rem;
    }

    .photosDisplay__main {
        margin-top: 0.8rem;
        margin-bottom: 0.8rem;
    }

    .postPhotos__title {
        font-size: 14pt;
    }
}
 
 
/**Tablet (768px)**/
@media (min-width: 768px) and (max-width: 1023px) {
    /**Header**/
    .headerLogo img {
        height: 64px;
    }

    .headerSearch img {
        height: 18px;
    }

    .headerSearch {
        padding: 0.6rem 1rem 0.6rem 1rem;
    }

    #headerSearch__input {
        font-size: 14pt;
        width: 280px;
    }

    .headerUser__button img {
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }

    .headerUser__button img, .headerNotif__button img {
        height: 28px;
        width: 28px;
    }

    .headerUser, .headerNotif {
        padding: 0rem;
    }

    #headerHover__menu {
        top: 38px;
        left: -58px;
        line-height: 1rem;
        width: 100px;
    }

    #headerHover__menuName {
        font-size: 12pt;
    }

    .headerHover__menuLink a { 
        font-size: 9pt;
    }

    #headerHover__notif {
        top: 38px;
        left: -94px;
        width: 8rem;
        padding: 0rem;
    }

    #headerHover__notifMain {
        padding-left: 1rem;
    }

    #headerHover__notifTitle {
        font-size: 12pt;
    }

    #headerHover__notifSeparation {
        width: 6rem;
    }

    #headerHover__notifRien {
        font-size: 9pt;
    }

    /**Principal**/
    .headerFlex, .publication, .post_complet, .topArea, .profileAside__main {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    /**Formulaire de publication**/
    .publication__title {
        font-size: 16pt;
    }

    .publication_input {
        width: 680px;
    }

    .post_commentairesIcon img {
        height: 30px;
    }

    /**Affichage des pulications**/
    .post_complet {
        padding-top: 0.4rem;
        padding-bottom: 0.8rem;
    }

    .post_completpadding {
        padding: 0rem;
    }

    .post_contenu {
        padding: 0.2rem 0.8rem 0.2rem 0.8rem;
    }

    .post_user {
        margin-bottom: 0.4rem;
    }

    .post_userIdName {
        font-size: 14pt;
    }

    .post_userIdName>a {
        padding-right: 0.3rem;
    }

    .post_userId img {
        height: 28px;
        width: 28px;
    }

    #post_userBin {
        height: 28px;
    }

    .post_contenuHour p {
        font-size: 9pt;
    }

    .post_contenuText {
        font-size: 12pt;
    }

    .postComment {
        justify-content: space-between;
    }

    .post_likes img, .post_comment img {
        height: 28px;
    }

    .likes_count {
        font-size: 9pt;
    }

    /**Partie commentaires**/
    .post_commentairesAvatar {
        height: 36px;
        width: 36px;
    }

    .post_commentaires h1 {
        font-size: 12pt;
    }

    .post_commentairesIcon img {
        height: 28px;
    }

    .vueCommentaires__flexText {
        font-size: 10pt;
    }

    .vueCommentaires__flexText p {
        padding-right: 0.4rem;
    }

    .vueCommentaires__content {
        font-size: 12pt;
    }

    /**Top area**/
    .topArea__text {
        font-size: 12pt;
    }

    .topArea__button img {
        height: 34px;
    } 

    /**PAGE PROFIL**/
    .profileHeader {
        font-size: 14pt;
        margin-left: 0.8rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }

    .profileAside__bioTitle {
        font-size: 18pt;
        padding-top: 0.4rem;
    }

    .profileAside__bioText {
        font-size: 14pt;
    }

    .profileAside__bioFriends a, .profileAside__bioPhotos a {
        font-size: 14pt;
    }

    .profileAside__photosSettings {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 0.5rem;
    }
    
    .profileAside__photosSettings img {
        width: 170px;
        height: 170px;
    }

    /**PAGE SETTINGS**/
    .settingsTitle {
        font-size: 16pt;
        margin-left: 0.8rem;
    }

    .settingsCard {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }

    .settings__input {
        width: 40%;
        margin-bottom: 0.6rem;
    }

    .settings__inputsFile {
        margin-left: 0.8rem;
        margin-bottom: 1rem;
    }

    /**PAGE PHOTOS**/
    .postPhotos__main, .photosDisplay__main {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    .profileHeader {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .photosDisplay__main {
        margin-top: 1.2rem;
        margin-bottom: 0.8rem;
    }

    .postPhotos__title {
        font-size: 16pt;
    }
}
 
 
/**Laptop (1024px)**/
@media (min-width: 1024px) and (max-width: 1439px) {
    .post_commentairesAvatar {
        height: 40px;
        width: 40px;
    }
    
    #headerHover__menu {
        top: 56px;
        left: -64px;
        line-height: 1.1rem;
        width: 120px;
    }

    #headerHover__menuName {
        font-size: 14pt;
    }

    .headerHover__menuLink a { 
        font-size: 11pt;
    }

    #headerHover__notif {
        top: 56px;
        left: -78px;
        width: 160px;
        padding: 0rem;
    }

    #headerHover__notifMain {
        padding-left: 1rem;
    }

    #headerHover__notifTitle {
        font-size: 14pt;
    }

    #headerHover__notifSeparation {
        width: 7rem;
    }

    #headerHover__notifRien {
        font-size: 11pt;
    }

    /**PAGE PROFIL**/
    .profileHeader {
        font-size: 18pt;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }

    .profileAside__bioTitle {
        font-size: 16pt;
        padding-top: 0.4rem;
    }

    .profileAside__bioText {
        font-size: 14pt;
    }

    .profileAside__bioFriends a, .profileAside__bioPhotos a {
        font-size: 14pt;
    }

    .profileAside__photosSettings {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 0.3rem;
    }
    
    .profileAside__photosSettings img {
        width: 175px;
        height: 175px;
    }
}
 
 
/**Laptop (1440px)**/
@media (min-width: 1440px) {
    .profileHeader {
        font-size: 18pt;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
    }

    .profileAside__bioTitle {
        font-size: 16pt;
        padding-top: 0.4rem;
    }

    .profileAside__bioText {
        font-size: 14pt;
    }

    .profileAside__bioFriends a, .profileAside__bioPhotos a {
        font-size: 14pt;
    }
    
    .profileAside__photosSettings {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-top: 0.3rem;
    }
    
    .profileAside__photosSettings img {
        width: 175px;
        height: 175px;
    }
}
